.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

button {
  font-size: 0.8rem;
  background-color: var(--gray-dark);
  padding: 0.4rem 0.6rem;
  border-radius: var(--radius);
  color: inherit;
  border: none;
}
button:disabled {
  color: var(--gray-md);
  cursor: not-allowed;
}
button:hover {
  outline: 3px solid var(--gray-md);
  z-index: 5;
}
button:focus,
button:active {
  outline: 3px solid var(--accent);
  z-index: 5;
}
