.item {
  display: flex;
  align-items: center;
  height: 1.8rem;
}

.label {
  color: inherit;
  flex-grow: 1;
  background-color: var(--gray-dark);
  height: 100%;
  padding: 0.3rem 1rem;
  border-radius: var(--radius) 0 0 var(--radius);
  cursor: pointer;
  margin-left: -0.6rem;
}
.label[type="text"] {
  z-index: 10;
}

button {
  width: 2.8rem;
  height: 100%;
  background-color: var(--gray-dark);
  border: none;
  color: var(--font-color);
  padding: 0.2rem;
}
button:hover {
  box-shadow: inset 3px var(--gray-md);
  z-index: 5;
}

.edit-btn {
  border-right: 4px solid var(--background);
  border-left: 4px solid var(--background);
}
.delete-btn {
  border-radius: 0 var(--radius) var(--radius) 0;
}
button:hover {
  box-shadow: inset 2px 2px var(--gray-md), inset -2px -2px var(--gray-md);
}
button:active,
button:focus {
  box-shadow: inset 2px 2px var(--accent), inset -2px -2px var(--accent);
}

img {
  height: 100%;
}

.checked label {
  color: var(--gray-light);
}
