<div class="item" [ngClass]="{ checked: item.checked }">
  <input
    id="{{ item.id }}"
    type="checkbox"
    [checked]="item.checked"
    (change)="toggleCheck(item.id)"
  />

  <ng-template [ngIf]="isEditing">
    <input
      #newText
      class="label"
      type="text"
      [value]="item.text"
      (blur)="confirmEdit()"
      (keydown)="confirmOnEnter($event)"
    />
    <button type="submit" class="edit-btn" (mouseup)="focusInput()">
      <img src="assets/checkmark.svg" />
    </button>
  </ng-template>

  <ng-template [ngIf]="!isEditing">
    <label class="label" for="{{ item.id }}">{{ item.text }}</label>
    <button class="edit-btn" (mousedown)="startEdit()">
      <img src="assets/edit.svg" />
    </button>
  </ng-template>

  <button class="delete-btn" (click)="onDelete(item.id)">
    <img src="assets/trash.svg" />
  </button>
</div>
