/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --background: #1e1e1e;
  /* --accent: #cd0404; */
  --accent: #116d6e;
  /* --accent: #068da9; */
  --font-color: #d4d3d4;
  --gray-dark: #2e2e2e;
  --gray-md: #434343;
  --gray-light: #515252;
  /* dimensions */
  --radius: 4px;
}

body {
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--font-color);
}

button {
  cursor: pointer;
}
button:hover {
  outline: 3px solid var(--gray-md);
  z-index: 5;
}
button:focus,
button:active {
  outline: 3px solid var(--accent);
  z-index: 5;
}

input {
  border-radius: var(--radius);
  outline: none;
  border: none;
}
input:hover {
  outline: 3px solid var(--gray-md);
}
input:active,
input:focus {
  outline: 3px solid var(--accent);
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  appearance: none;
  font: inherit;
  background-color: var(--accent);
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1.2rem;
  border-radius: var(--radius);
  display: grid;
  place-content: center;
  padding-bottom: 0.2rem;
}
input[type="checkbox"]:hover {
  outline: 3px solid var(--gray-light);
}
input[type="checkbox"]:checked::before {
  content: "";
  width: 1.8rem;
  height: 1.4rem;
  border-radius: var(--radius-s);
  clip-path: polygon(
    46.46% 70.5%,
    99.25% 3.25%,
    49.63% 92.29%,
    55.88% 100%,
    12.95% 47.07%
  );
  background-color: var(--font-color);
}
